{{> navbar}}
<main class="structure">
<h3>Edit you event</h3>

<form class="event-form" action="/events/{{_id}}/edit" method="POST" enctype="multipart/form-data">
  <input type="text" name="title" id="title" required value="{{title}}">

  <label for="date">When?</label>
  <input type="date" name="date" id="date" required value="{{date}}">

  <label for="attendees">How many people can join?</label>
  <input type="number" name="attendees" id="attendees" value="{{attendees}}">

  <label for="description">What makes the event special?</label>
  <input type="text" name="description" id="description" value="{{description}}">

  <label for="duration">How long does it last?</label>
  <input type="number" name="duration" id="duration" value="{{duration}}">

  <label for="menu">Menu</label>
  <input type="string" name="menu" id="menu" value="{{menu}}">

  <label for="image">Add image</label>
  <input type="file" name="image"/>

  <button type="submit">Update your event!</button>
</form>
</main>
