<a href="/users/profile"><</a>




<form action="/events/{{_id}}/edit" method="POST">
  <label for="title">title</label>
  <input type="text" name="title" id="title" required value="{{title}}">
  
  <label for="location">Location</label>
  <input type="text" name="location" id="location" required value="{{location}}">

  <label for="date">Date</label>
  <input type="date" name="date" id="date" required value="{{date}}">

  <label for="attendees">Attendees</label>
  <input type="number" name="attendees" id="attendees" value="{{attendees}}">

  <label for="description">Description</label>
  <input type="text" name="description" id="description" value="{{description}}">

  <label for="duration">Duration</label>
  <input type="number" name="duration" id="duration" value="{{duration}}">

  <label for="menu">Menu</label>
  <input type="string" name="menu" id="menu" value="{{menu}}">

  <button type="submit">Update an Event</button>
</form>