<main>
<p>Welcome {{currentUser.username}}</p>
<section>
  <article>
    <p>{{title}}</p>
    <p>{{location}}</p>
    <p>{{date}}</p>
    <p>{{attendees}}</p>
    <p>{{description}}</p>
    <p>{{duration}}</p>
    <img src="{{image}}" alt="events picture">
    <p>{{menu}}</p>
  </article>
</section>
</main>