{{> navbar}}
<main>
<p>Welcome {{currentUser.username}}</p>
<section>
  <article>
    <p>{{title}}</p>
    <img src="{{image}}" alt="events picture">
    <p>Where? {{location}}</p>
    <p>When? {{date}}</p>
    <p>{{attendees}}</p>
    <p>{{description}}</p>
    <p>{{duration}}</p>
    <p>{{menu}}</p>
  </article>
</section>
</main>