
{{>footer}}
<main class="structure">
  <section class="container">
    <article>
      <h2>{{title}}</h2>
      <img src="{{image}}" alt="events picture">
      <section class="details-info">
      <p>Where? {{location}}</p>
      <p>When? {{date}}</p>
      <p>Max. guests : {{attendees}}</p>
      <p>Description : {{description}}</p>
      <p>Duration : {{duration}}</p>
      <p>Menu : {{menu}}</p>
      </section>
      <form action="/details/{{_id}}" method="POST">
        <button type="submit">Join</button>
      </form>
    </article>
  </section>
</main>