{{> navbar}}
<main class="structure">
<p>Welcome {{currentUser.username}}</p>
<a href="/users/profile"><</a>
<section class="structure">
  <article>
    <p>{{title}}</p>
    <img src="{{image}}" alt="events picture">
    <p>Where? {{location}}</p>
    <p>When? {{date}}</p>
    <p>{{attendees}}</p>
    <p>{{description}}</p>
    <p>{{duration}}</p>
    <p>{{menu}}</p>
    <form action="" method="POST">
      <button type="submit">Join</button>
    </form>
  </article>
</section>
</main>