
<main class="structure">
  <section>
    <section class="header">
      <h2>Welcome, <span class="dark-grey">{{currentUser.username}}<span></h2>
    </section>
    </section>
    <section class="home-header">
      <img class="resize" src="../images/dinner.jpg" alt="event image">
      <section class="text-card">
        <h3>Tell your story through a dinner!</h3>
        <p>----</p>
      </section>
  </section>

  <section>
    <section class="header"> 
      <h3 class="dark-grey">Check out all the events!</h3>
    </section>
    {{#each event}}
    
      <article>
        <h3>{{title}}</h3>
        <a href="details/{{_id}}"><img class="img-event-style" src="{{image}}" alt="event image"></a>
        <section class="info">
          <section class="section-card-homepage">
          <img src="../images/location.png" class="icon-style-small" alt="location icon">
          <p class="p-style">{{location}}</p>
          </section>
          <section class="section-card-homepage">
          <img src="../images/attendees1.png" class="icon-style-medium" alt="attendees icon">
          <p class="p-style">{{attendees}}</p>
          </section>
        </section>
      </article>
    
    {{/each}}
</section>
</main>
{{>footer}}
