
<main class="structure">
  <section>
    <section class="header">
      <h2>Welcome, <span class="dark-grey">{{currentUser.username}}<span></h2>
    </section>
    </section>
    <section class="home-header">
      <img class="resize" src="../images/dinner.jpg" alt="event image">
      <section class="text-card">
        <h2>Tell your story through a dinner!</h2>
        <p class="dark-grey">Make friends while eating delicious home cooked meals</p>
      </section>
  </section>

  <section>
    <h2>Check out all the events!</h2>
    {{#each event}}
    
      <article>
        <h3 class="title">{{title}}</h3>
        <a href="details/{{_id}}"><img class="image" src="{{image}}" alt="event image"></a>
        <section class="info">
          <section class="section-card-homepage">
          <img src="../images/location.png" class="icon-style-small" alt="location icon">
          <p class="p-style">{{location}}</p>
          </section>
          <section class="section-card-homepage">
            <i class="fas fa-user-friends"></i>
          <p class="p-style">{{attendees}}</p>
          </section>
        </section>
      </article>
    
    {{/each}}
</section>
</main>
{{>footer}}
