
<main class="structure">
  <section>
    <section class="header">
      <h2>Welcome, <span class="dark-grey">{{currentUser.username}}<span></h2>
    </section>
    </section>
    <section class="home-header">
      <img class="resize" src="../images/dinner.jpg" alt="event image">
      <section class="text-card">
        <h2>Tell your story through a dinner!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime commodi cumque adipisci eos et natus, neque amet esse dicta nemo, fuga, nobis ea quas tenetur! Numquam amet architecto odit id!</p>
      </section>
  </section>

  <section>
    <h2>Check out all the events!</h2>
    {{#each event}}
    <section class="container">
      <article>
        <h3 class="title">{{title}}</h3>
        <a href="details/{{_id}}"><img class="image" src="{{image}}" alt="event image"></a>
        <section class="info">
          <section class="section-card">
          <i class="fas fa-map-marker-alt blue-icon"></i>
          <p class="p-style">{{location}}</p>
          </section>
          <section class="section-card">
            <i class="fas fa-user-friends"></i>
          <p class="p-style">{{attendees}}</p>
          </section>
        </section>
      </article>
    </section>
    {{/each}}
</section>
</main>
{{>footer}}
