

  {{> navbar}}
<main>

<h2>Profile page</h2>
<a href="/homepage"><i class="fas fa-home"> </i></a>
<a href="/events/create">></a>

<section>
  <p>Welcome {{username}}!</p>
  <img src="{{image}}" alt="{{username}} image">
  <p> age:{{age}} - {{country}}</p>
  <p>{{about}}</p>
  <a href="/users/{{_id}}/update-profile">Add info to profile</a>
  <form action="/users/{{_id}}/delete" method="POST">
  <button type="submit" id="{{_id}}">delete</button>
  </form>
</section>

<section class="event-list">
<form class="event-form" action="/events/create" method="POST">
  {{#each events}}
    <article >
      <p class="profile-p"> Event:{{title}} - Location:{{location}}</p>
      <img src="{{image}}" alt="user's picture">
      <div class="delete-update">
        <button class="button-margin"><a href="/events/{{_id}}/edit">Edit</a></button>
        <button class="button-margin" type="submit" id="{{_id}}">Delete</button>
      </div>
    </article>
  {{/each}}
</form>
</section>
</main>

<script src="../javascripts/delete.js"></script>

