 {{>navbar}}
<main class="structure"> 
  <h2>My profile</h2>
  <h3>Welcome {{username}}!</h3>

  <section class="profile-card">
    <article>
      <p>Age : {{age}}</p>
      <p><i class="fas fa-map-marker-alt blue-icon"></i>{{country}}</p>
      <h3>About Me!</h3>
      <p>{{about}}</p>
    </article>
    <article>
      <img class="profile-img" src="{{image}}" alt="{{username}} image">
      <a href="/users/{{_id}}/update-profile"><button class="profile-button">Edit profile</button></a>
      <form class="profile-delete" id={{id}} action="/users/{{_id}}/delete" method="POST"></form>
        <button class="profile-button" type="submit" id="{{_id}}">Delete profile</button>
      </form>
    </article>
  </section>

  <h2>My Events</h2>
  <a href="/events/create"><button>Create your own Event!</button></a>
  <section class="event-list">
   
      {{#each events}}
        <article>
          <div class="info-event"> 
            <h3 class="profile-p">{{title}}</h3>
            <i class="fas fa-map-marker-alt blue-icon"></i>
            <h3>{{location}}</h3>
          </div>
          <img src="{{image}}" alt="user's event picture">
          <div class="delete-update">
            <button class="button-margin"><a href="/events/{{_id}}/edit">Edit</a></button>
            <button class="button-delete button-margin" id="{{_id}}">Delete</button>
            <p>{{guests}}</p>
          </div>
        </article>
        {{/each}}
    
  </section>
</main>

<script src="../javascripts/delete.js"></script>


