{{>footer}}
<main class="structure">
  <section class= "section-card">
    <h2>My profile</h2>
    <form action="/auth/logout" method="POST">
    <button class="logout" type="submit"><img src="../images/logout.png" class="icon-style" alt="home icon"></button>
    </form>
  </section>  

  <section class="profile-card">
    <article class="profile">
      <img class="profile-img" src="{{image}}" alt="{{username}} image">
      <section class="profile-bottom">
        <a href="/users/{{_id}}/update-profile"><button class="profile-button">Edit profile</button></a>
        <form class="profile-delete" id={{id}} action="/users/{{_id}}/delete" method="POST">
        <button class="profile-button" type="submit" id="{{_id}}">Delete profile</button>
      </form>
      </section>
    </article>
    <article class="about-me">
      <p>{{username}}</p>
      <p>Age : {{age}}</p>
      <section class="marker">
        <i class="fas fa-map-marker-alt blue-icon"></i>
        <p>{{country}}</p>
      </section>
      <h3>About Me!</h3>
      <p>{{about}}</p>
    </article>
  </section>

  <h2 class="header">Hosting</h2>
  <section class="event-list">

    {{#each myevents}}
    <article>
      <section class="info-event">
        <h3 class="profile-p">{{title}}</h3>
      </section> 
      <img class="img-resize" src="{{image}}" alt="user's event picture">
      <section class="text-card">
        <section class="marker">
          <img src="../images/location.png" class="icon-style-small" alt="location icon">
          <p>{{location}}</p>
        </section>
        <section class="marker">
          <img src="../images/location.png" class="icon-style-small" alt="location icon">
          <p>{{attenddees}}</p>
        </section>
        <section class="marker">
          <img src="../images/icon-food.png" class="icon-style-small" alt="food icon">
          <p>{{menu}}</p>
        </section>

      </section>
      <section class="delete-update">
        <button class="button-margin"><a href="/events/{{_id}}/edit">Edit</a></button>
        <button class="button-delete button-margin" id="{{_id}}">Delete</button>
      </section>
        {{#each guests}}
        <p class="show-guests">{{username}}</p>
        {{/each}}
     
    </article>
    {{/each}}

    <h2 class="header">Attending</h2>
    
    {{#each events}}
    <article>
      <section class="info-event">
        <h3 class="profile-p">{{title}}</h3>
        <section>
          <img src="../images/location.png" class="icon-style" alt="location icon">
        <h3>{{location}}</h3>
        </section>
      </section>
      <img src="{{image}}" alt="user's event picture">
      <div class="delete-update">
        <button class="button-margin"><a href="/events/{{_id}}/edit">Edit</a></button>
        <button class="button-delete button-margin" id="{{_id}}">Delete</button>
      </div>
    </article>
    {{/each}}
  </section>
</main>

<script src="../javascripts/delete.js"></script>